.home_blog{
    background-color: #F7F7F7;
}
.home_blog_container{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.home_blog_header{
    display: grid;
    justify-content: center;
}
.home_blog_small_header{
    display: grid;
    justify-content: center;
}
.home_blog_small_header h3{
    color: #FF3E54;
    font-size: 18px;
    font-weight: 700;
}
.home_blog_header h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: -10px;
}





/* mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
    .home_blog_container{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .home_blog_small_header h3{
        color: #FF3E54;
        font-size: 15px;
        font-weight: 700;
    }
    .home_blog_header h1{
            font-size: 27px;
            line-height: 32px;
            margin-top: 25px;
            margin-top: -10px;
    }
}





/* tab */
@media only screen and (min-width: 481px) and (max-width: 900px) {
    .home_blog_container{
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .home_blog_header h1{
        font-size: 30px;
        line-height: 35px;
        margin-top: 25px;
        margin-top: -10px;
}
}