.home_about_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}

.home_about_section{
        display: flex;
        margin-left: 55px;
        margin-right: 55px;
        margin-top: 120px;
        margin-bottom: 80px;
}
.home_about_img img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 555px;
}
.home_about_info{
    margin-top: -20px;
    margin-left: 30px;
    margin-right: 100px;
}
.home_about_info h4{
    color: #FF3E54;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: -20px;
}
.home_about_info h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}




/* mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
    .home_about_section{
        display: block;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
}
.home_about_img img{
    height: auto;
    width: 250px;
}
.home_about_info{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 00px;
}
.home_about_info h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    margin-top: 25px;
}

}


/* tab */
@media only screen and (min-width: 481px) and (max-width: 800px) {
    .home_about_section{
        display: block;
        margin: 35px;
}
.home_about_img img{
    height: auto;
    width: 350px;
}
.home_about_info{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 00px;
}
.home_about_info h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 25px;
}


}