.home_about_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}

.home_about_section{
        display: flex;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 120px;
        margin-bottom: 80px;
}
.home_about_img{
    display: grid;
    align-items: center;
}
.home_about_img img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 398px;
    width: auto;
}
.home_about_info{
    margin-top: -10px;
    margin-left: 50px;
    margin-right: 100px;
}
.home_about_info h4{
    color: #FF3E54;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: -20px;
}
.home_about_info h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}
.home_about_info p{
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
}

.home_about_get_container{
    display: flex;
    background: white;
    padding: 1.2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
.home_about_get_container_img{
    display: grid;
    justify-content: center;
    align-items: center;
}
.home_about_get_container img{
    width: auto;
    height: 35.99px;
    background: #F7F7F7;
    padding: 0.9rem;
    border-radius: 0.4rem;
    margin-right: 2rem;
}
.home_about_get_container h4{
    color: #0E1F51;
    margin-top: 15px;
    letter-spacing: 2px;
}
.home_about_get_container p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}
.home_about_get_container span{
    color: #FF3E54;
    margin-left: 5px;
    letter-spacing: 2px;
}


/* mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
    .home_about_section{
        display: block;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
}
.home_about_img img{
    height: 240px;
    width: 100%;
}
.home_about_info{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 00px;
}
.home_about_info h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    margin-top: 25px;
}
.home_about_info p{
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.home_about_get_container img{
    width: auto;
    height: 30px;
    background: #F7F7F7;
    padding: 0.7rem;
    border-radius: 0.4rem;
    margin-right: 2rem;
}
.home_about_get_container h4{
    color: #0E1F51;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
}
.home_about_get_container p{
    font-size: 12px;
    font-weight: 400;
    margin-top: 25px;
}
.home_about_get_container span{
    color: #FF3E54;
    margin-left: 5px;
}

}


/* tab */
@media only screen and (min-width: 481px) and (max-width: 900px) {
    .home_about_section{
        display: block;
        margin: 35px;
}
.home_about_img img{
    height: 380px;
    width: 100%;
}
.home_about_info{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 00px;
}
.home_about_info h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 25px;
}
.home_about_info p{
    color: black;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.home_about_get_container img{
    width: auto;
    height: 32px;
    background: #F7F7F7;
    padding: 0.8rem;
    border-radius: 0.4rem;
    margin-right: 2rem;
}


}