.footer_section{
    background-color: #0E1F51;
}
.footer_container{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
}

.footer_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}
.footer_grid-1 h1{
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.footer_grid-1 h2{
    height: 5px;
    width: 50px;
    background-color: #FF3E54;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer_grid-1 p{
    font-size: 16px;
    color: white;
    font-weight: 400;
    line-height: 30px;
}
.footer_grid-1_logo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    cursor: pointer;
}
.footer_grid-1_logo h1{
    background-color: white;
    color: #FF3E54;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 400;
}



.footer_grid-2 h1{
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.footer_grid-2 h2{
    height: 5px;
    width: 50px;
    background-color: #FF3E54;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer_grid-2 p{
    font-size: 16px;
    color: white;
    font-weight: 400;
    line-height: 30px;
}




.footer_grid-3 h1{
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.footer_grid-3 h2{
    height: 5px;
    width: 50px;
    background-color: #FF3E54;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer_grid-3 p{
    font-size: 16px;
    color: white;
    font-weight: 400;
    line-height: 30px;
}



.footer_carer_part{
    display: flex;
    margin-bottom: -30px;
}
.footer_carer_part_logo{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.footer_carer_part_logo h3{
    background-color: white;
    color: #FF3E54;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
}

.footer_carer_part_info h5{
    color: #FF3E54;
    font-size: 17px;
    margin-bottom: -20px;
}
.footer_carer_part_info p{
    margin-top: 20px;
}






.footer_grid-4 h1{
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.footer_grid-4 h2{
    height: 5px;
    width: 50px;
    background-color: #FF3E54;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer_grid-4 p{
    font-size: 16px;
    color: white;
    font-weight: 400;
    line-height: 30px;
}

.footer_grid-4_email{
margin-top: 60px;
}
.footer_grid-4_email input{
    height: 30px;
    width: 290;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: black;
}


.footer_grid-4_email button{
    margin-top: 15px;
    position: absolute;
    background-color: #FF3E54;
    border: none;
    color: white;
    width: 90px;
    height: 35px;
    border-radius: 3px;
    font-weight: 400;
    size: 18px;
    cursor: pointer;
}
.footer_grid-4_email button:hover{
    background-color: white;
    border: 1px solid;
    color: #FF3E54;
    transition: 0.6s;
}







/* mobile */
@media only screen and (min-width: 280px) and (max-width: 680px) {
    .footer_container{
        padding: 30px;
        padding-bottom: 80px;
    }
    .footer_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .footer_grid-1_logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0px;
    }

    .footer_grid-1_logo h1{
        background-color: white;
        color: #FF3E54;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 100px;
        font-size: 24px;
        font-weight: 400;
    }
    .footer_carer_part_logo{
        margin-right: 14px;
    }
    .footer_carer_part_info h5{
        font-size: 14px;
        margin-bottom: -30px;
    }
    .footer_carer_part_info p{
        margin-top: 40px;
    }
    .footer_grid-4_email{
        margin-top: 20px;
        }
}






/* tab */
@media only screen and (min-width: 681px) and (max-width: 1100px) {
    .footer_container{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 70px;
        padding-right: 70px;
    }
    .footer_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .footer_grid-1_logo{
        margin-top: 40px;
    }
}