.home_team_container{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.home_team_title{
    display: grid;
    justify-content: center;
}
.home_team_small_title{
    display: grid;
    justify-content: center;
    margin-top: -20px;
}
.home_team_small_title h3{
    color: #FF3E54;
    font-size: 18px;
    font-weight: 700;
}
.home_team_title h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: -10px;
}
.home_team_grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    margin-top: 20px;
}
.home_team_single_grid_card{
    display: grid;
    justify-content: center;
    align-items: center;
}
.home_team_grid-img img{
    height: 300px;
    width: auto;
}
.home_team_grid_title{
    display: grid;
    align-items: center;
    justify-content: center;
}
.home_team_grid_title h4{
    color: #FF3E54;
    font-size: 20px;
    font-weight: 700;
}
.home_team_grid_job_title{
    display: grid;
    justify-content: center;
    margin-top: -32px;
}
.home_team_grid_job_title p{
    color: #0E1F51;
    font-size: 16px;
    font-weight: 500
    ;
}







/* mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
    .home_services_container{
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .home_team_title h1{
        font-size: 27px;
        line-height: 32px;
        margin-top: 25px;
        margin-top: -10px;
    }
    .home_team_grid_container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            grid-gap: 20px;
    }
    .home_team_grid-img img{
        height: 200px;
        width: auto;
    }
    .home_team_grid_title{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .home_team_grid_title h4{
        color: #FF3E54;
        font-size: 18px;
        font-weight: 600;
    }
    .home_team_grid_job_title p{
        color: #0E1F51;
        font-size: 14px;
        font-weight: 500
        ;
    }
    
}




/* tab */
@media only screen and (min-width: 481px) and (max-width: 900px) {
    .home_services_container{
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .home_team_title h1{
        font-size: 30px;
        line-height: 35px;
        margin-top: 25px;
        margin-top: -10px;
    }
    .home_team_grid_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
}
.home_team_grid-img img{
    height: 240px;
    width: auto;
}
.home_team_grid_title h4{
    margin-top: -0px;
}
}