.home_services_container{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.home_services_title{
    display: grid;
    justify-content: center;
}
.home_services_small_title{
    display: grid;
    justify-content: center;
    margin-top: -20px;
}
.home_services_small_title h3{
color: #FF3E54;
font-size: 18px;
font-weight: 700;
}
.home_services_title h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: -10px;
}
.home_services_grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    margin-top: 20px;
}
.home_services_single_grid_card{
    background-color: #F7F7F7;
    padding: 30px;
    border-radius: 8px;
}
.home_services_grid_img img{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    height: 50px;
    width: auto;
}
.home_services_single_grid_card h3{
    color: #0E1F51;
    font-size: 20px;
    line-height: 26px;
    font-weight: 800;
}
.home_services_grid_undertitleimg{
    margin-top: -15px;
}
.home_services_grid_undertitleimg img{
    height: 6px;
    width: auto;
}
.home_services_single_grid_card p{
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-top: 8px;
}





/* mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
    .home_services_container{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .home_services_small_title{
        margin-top: 0px;
    }
    .home_services_small_title h3{
        color: #FF3E54;
        font-size: 15px;
        font-weight: 700;
        }
        .home_services_title h1{
            font-size: 27px;
            line-height: 32px;
            margin-top: 25px;
            margin-top: -10px;
        }
        .home_services_grid_container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            grid-gap: 30px;
        }
        .home_services_single_grid_card{
            background-color: #F7F7F7;
            padding: 25px;
            padding-bottom: 5px;
            border-radius: 7px;
        }
        .home_services_grid_img img{
            background-color: white;
            padding: 12px;
            border-radius: 4px;
            height: 40px;
            width: auto;
        }
        .home_services_single_grid_card h3{
            color: #0E1F51;
            font-size: 17px;
            line-height: 22px;
            font-weight: 700;
        }
        .home_services_grid_undertitleimg img{
            height: 4px;
            width: auto;
        }
        .home_services_single_grid_card p{
            color: black;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            margin-top: 5px;
        }
        
}





/* tab */
@media only screen and (min-width: 481px) and (max-width: 900px) {
    .home_services_container{
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .home_services_title h1{
        font-size: 30px;
        line-height: 35px;
        margin-top: 25px;
        margin-top: -10px;
    }
    .home_services_grid_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 30px;
    }
    .home_services_single_grid_card p{
        color: black;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
    }
    .home_services_single_grid_card{
        background-color: #F7F7F7;
        padding: 30px;
        padding-bottom: 10px;
        border-radius: 8px;
    }
}