.home_last_container{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 207px;
    margin-right: 207px;
}

.img{
    background-image: url('../../../assets/Rectangle\ 14\ \(1\).png');
}
.img{
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}
.home_last_title{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 137px;
    padding-left: 137px;
}




/* mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
    .home_last_container{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .img{
        background-image: none;
    }
    .img{
        background-color: #0E1F51;

    }
    .home_last_title{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 37px;
        padding-left: 37px;
    }
}



/* tab */
@media only screen and (min-width: 481px) and (max-width: 900px) {
    .home_last_container{
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .home_last_title{
        padding-top: 20px;
        padding-bottom: 40px;
        padding-right: 37px;
        padding-left: 37px;
    }
}