.home_plan_container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.home_plan_header{
    display: grid;
    justify-content: center;
}
.home_plan_header h4{
    display: grid;
    justify-content: center;
    color: #FF3E54;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: -20px;
}
.home_plan_header h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.home_plan_grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 30px;
    margin-top: 40px;
}
.home_plan_grid_single_card{
    background-color: #F7F7F7;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 5px;
}



/* mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
    .home_plan_container{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }    
    .home_plan_header h4{
        font-weight: 500;
    }
    .home_plan_header h1{
    font-size: 27px;
    line-height: 32px;
    margin-top: 25px;
    }
    .home_plan_grid_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


/* tab */
@media only screen and (min-width: 481px) and (max-width: 800px) {
    .home_plan_container{
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        margin-bottom: 50px;
    } 
    .home_plan_header h1{
    font-size: 30px;
    line-height: 35px;
    margin-top: 25px;
    }
    .home_plan_grid_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}