.home_header{
    display: flex;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 38px;
}
.home_header_first_title{
    
}
.home_header_title{

}




/* mobile */
@media only screen and (max-width: 480px) {
    .home_header{
        display: block;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }
}


/* tab */
@media only screen and (max-width: 768px) {
    .home_header{
        display: block;
        justify-content: center;
        padding-left: 80px;
        padding-right: 80px;
    }

}