.home_header{
    display: flex;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 38px;
}
.home_header_first_title{
    display: flex;
    align-items: center;
}
.home_header_title{
padding-left: 81px;
}

.home_header_title p{
    color: #FF3E54;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: -20px;
}
.home_header_title h1{
    color: #0E1F51;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
.home_header_title button{
    margin-top: -10px;
    position: absolute;
    background-color: #FF3E54;
    border: none;
    color: white;
    width: 150px;
    height: 45px;
    border-radius: 3px;
    font-weight: 500;
    size: 20px;
    cursor: pointer;
}
.home_header_title button:hover{
    background-color: white;
    border: 1px solid;
    color: #FF3E54;
    transition: 0.5s;
}
.home-header_img img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 662px;
    width: auto;
}




/* mobile */
@media only screen and (max-width: 480px) {
    .home_header{
        display: block;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    .home_header_title{
        padding-left: 0px;
        }
        .home_header_title h1{
            color: #0E1F51;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
        }
        .home_header_title button{
            width: 100px;
            height: 35px;
            font-weight: 500;
            size: 15px;
            cursor: pointer;
        }
        .home-header_img img{
            margin-top: 2rem;
            height: 320px;
            width: auto;
        }
}


/* tab */
@media only screen and (max-width: 868px) {
    .home_header{
        display: block;
        justify-content: center;
        padding-left: 80px;
        padding-right: 80px;
    }
    .home_header_title{
        padding-left: 0px;
        }
        .home_header_title h1{
            color: #0E1F51;
            font-weight: 700;
            font-size: 35px;
            line-height: 50px;
        }
        .home_header_title button{
            width: 120px;
            height: 40px;
            font-weight: 500;
            size: 15px;
            cursor: pointer;
        }
        .home-header_img img{
            margin-top: 2rem;
        }
}