.home_touch_section{
    background-color: #0E1F51;
}
.home_touch_container{
    padding: 100px;
}







/* mobile */
@media only screen and (min-width: 280px) and (max-width: 480px) {
    .home_touch_container{
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}






/* tab */
@media only screen and (min-width: 481px) and (max-width: 900px) {
    .home_touch_container{
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}